* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;

}

html,
body {
  height: 100%;
  width: 100%;
}

*::selection {
  background-color: #000;
  color: #f75129;
}

body::-webkit-scrollbar {
  display: none;

}

body {
  overflow-x: hidden;
}

video {
  padding-left: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -25;
  position: fixed;
}
.nav{
  z-index: 99;
 background-color: #080612;
}
